<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Ninety-Nine Cats, <%= @user.username %></h1>
    <p>
      You are now all set to take part in a bizarre animal-rental
      service that could not possibly be healthy for the well-being
      of said animals, but whatevs, 'Murica!
      <br>
      Your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Why are you still reading this email?! Post haste to
      www.ninetyninecats.com and begin creating the illusion of
      being a responsible pet owner! </p>
  </body>
</html>
